html {
    height:100%;
}

body {
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    height: 100%;
    background-color: #0e0840;
    margin: 1rem;

}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    border: .1rem solid white;
    border-radius: 1rem;
}
h1 {
    color:#fffca3;
    font-family: 'Roboto', sans-serif;
}


h2 {
    display: flex;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
}

 a {
     display: flex;
     flex-direction: row;
     justify-content: center;
     margin: 1rem;
     padding: 1rem;
     border: .1rem solid white;
     border-radius: 1rem;
     color: #fffca3;
     text-decoration: none;
     font-family: 'Roboto', sans-serif;
     background-color: #243966;
     
     
 }


.engloba-p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    color: #fffca3;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    background-color: #243966;
    align-items: center;

}